.img {
    display: block;
}

.img-logo {
    height: 40px;
    width: 160px;
}

.img-article {
    /* padding: 0 20px 0; */
    height: 200px;
    width: 427px;
}

@media (max-width: 992px) {
    .img-article {
        height: 170px;
        width: 363px;
    }
}


@media (max-width: 768px) {

    .img-logo {
        height: 25px;
        width: 104px;
    }

    .img-article {
        height: 150px;
        width: 320px;
    }

    @media (max-width: 321px) {
    
        .img-article {
            display: none;
        }

}