.nosotros {
    padding: 90px 20px 30px;
}

.modulos {
    padding: 90px 20px 30px;
}

.proyectos {
    padding: 90px 20px 30px;
}

.proyecto__div{
    margin-right: 20px;
}

.contacto {
    padding: 90px 20px 30px;
}

.main__article {
    display: flex;
}

.main__article-div{
    margin-right: 20px;
}

.main__article-img{
    align-items: center;
    align-content: center;
    justify-content: center;

}

.h1{
    margin: 5px 0 25px;
    font-size: 45px;
}

.main_p{
    font-size: 18px;
    line-height: 30px;
}

@media (max-width: 992px){

    .main_p-1{
        display: none;
    }

    .proyecto__div{
        margin-right: 35px;
    }

}

@media (max-width: 768px) {

    .main__article {
        flex-direction: column;
    }

    .nosotros {
        padding: 70px 10px 0;
    }

    .modulos {
        padding: 70px 10px 0;
    }

    .proyectos {
        padding: 70px 10px 0;
    }

    .contacto {
        padding: 70px 10px 0;
    }

}